header{
text-align: center;
background-color:honeydew;
width: 1150px;
border: 15px solid grey;
padding: 0px;
margin: 20px;

}

.Details
{
   text-align:center;
   background-color:honeydew;



}

.intro
{
    text-align:center;
    

}

main{

    background-color:honeydew;
    width: 1150px;
    border: 15px solid grey;
    padding: 0px;
    margin: 20px;
}

.d1
{
    border: 10px solid grey;
    
}


