header{
text-align: center;
background-color: antiquewhite;

}

.Details
{
   text-align:center;
   background-color: antiquewhite;


}

.intro
{
    text-align:center;

}

main{

    background-color: antiquewhite;
}


